// google font imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    // color system
    // main twitter blue color
    --primary-theme: #1DA1F2;
    // blue color while hovering on solid blue elements 
    --primary-blue-solid-hover: #1B94DE;
    // blue color while hovering on outlined blue elements
    --primary-blue-outline-hover: #1B94DE12;
    // dimmed-bg color for dimmed theme
    --primary-dimmed-bg-theme: #15202B;
    // black theme color for dark/black theme
    --primary-black-theme: #000000;
    // dimmed-bg overlay color for overlay elements on dimmed theme
    --dimmed-bg-overlay: #192734;
    // standard white color
    --standard-white: #FFFFFF;
    // standard black color
    --standard-black: #000000;
    // black color while hovering on outlined elements
    --primary-black-outline-hover: #00000012;
    // red solid color
    --solid-danger-red: #F9185C;
    // solid danger color while hovering
    --solid-danger-red-hover: #FF0000;   
}

